@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
/* font-family: 'Neucha', cursive; */
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0c85f7;
  font-family: 'Neucha', cursive;
}
.heading{
  text-transform: uppercase;
  font-size: 3rem;
  margin: 2rem 0;
  color: #ffff;
  z-index: 1;
  text-align: center;

}
@media screen and (max-width:800px) {
  .heading{
    margin: 1rem 0;
    font-size: 2.4rem;
  }
}