.todos{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

@media screen and (max-width:700px) {
    
    .todos{
        width: 95%;
    }
}
@media screen and (max-width:700px) {
    
    .todos{
        width: 95%;
    }
}