
.input{
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}
.input_box{
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: all 0.2s;
    box-shadow: inset 0 0 5px black;

}
 input